.container {
    background-image: url("../img/man-2.jpg");
	height: 70vh;
}

.item {


    color: white;
    position: absolute;               
    top: 40%;
    right: 50%;   
    transform: translate(130%, -120%)
}